*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(106,73,101);
background: linear-gradient(0deg, rgba(106,73,101,1) 1%, rgba(19,12,18,1) 30%, rgba(0,0,0,1) 100%);
    text-align: center;
}
header{
    color: rgb(212, 196, 196);  
    background: url('./img/bc.png');
    width: 100%;
	height: 35em;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    overflow: hidden;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
}
header h1{
    margin: 1em;
    font-size: 3em;
}
header form{
    display: inline-block;
    margin-top: 3em;
    position: absolute;
    right: 1em;
}
form input{
    background-color: rgba(104, 106, 109, 0.753);
    padding: 0.5em;
    width: 25em;
}
header select{
    margin-top: 4em;
    position: absolute;
    left: 1em;
    width: 19em;
    color: #fff;
    background-color: rgba(83, 73, 81, 0.001);
border-radius: 5px;
}
option{
    background-color: rgb(51, 49, 51);
}

/* main */
main{
   
    color: rgb(190, 181, 190);
    margin: 4em 1.5em ;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
section{
    width: 25em;
    margin-bottom: 1em;
}
section img{
   filter: drop-shadow(1.5mm -0.1mm 2mm rgb(174, 110, 199));
    width: 23em;
    border-radius: 3px;
}
section h5{
    margin: 1em 0.1em;
    font-size: 1em;
}
section div{
    text-align: left;
    padding: 0.5em;
}
section div .bi{
    color: rgb(153, 40, 228);
    font-size: 1.2em;
}
.clock{
    margin-right: 0.5em;
}
section p{
    opacity:0;
    transition:opacity 1000ms;
}
.summary:hover + p{
    opacity:1;
}
/* filter class */
.filtered{
    display: none;
}


/* Responsive mood */
@media only screen and (max-width: 687px) {
    header select{
        margin-top: 2em;
    }
    select option{
        font-size: 0.5em;
    }
    form{
         width: 80%;
        margin: auto;
        top: 20em;
    }
    form label{
        display: inline;
    }
    form input{
        width: 25em;
    }
}
@media only screen and (max-width: 500px) {
    form{
     width: 90%;
    }

    form label{
        display: block;
        margin-bottom: 0.5em;
    }
    form input{
        width: 20em;
    }
}